{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended-type-checked",
    "airbnb-typescript",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime",
    "plugin:unicorn/recommended",
    "prettier",
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-expect-error": "allow-with-description",
      },
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allow",
      },
      {
        "selector": "function",
        "filter": {
          "match": false,
          "regex": "^unstable_",
        },
        "format": ["camelCase", "PascalCase"],
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"],
      },
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-var-requires": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-null": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-top-level-await": "off",
    "unicorn/prevent-abbreviations": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-restricted-syntax": "off",
  },
  "overrides": [
    {
      "files": ["*.js"],
      "extends": ["plugin:@typescript-eslint/disable-type-checked"],
    },
  ],
}
